.comic-info-container {
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
}

.cell * {
  color: #1C3443;
}

.cell-1 {
  background: deepskyblue;
  grid-column: 1;
}

.cell-2 {
  grid-column: 2/3;
}

.btn {
  margin: 0.5rem 0;
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat-Medium;
  font-size: 12px;
  letter-spacing: 0;
  background-color: #677AA3;
  padding: 0.5rem;
  border-radius: 18px;
  border: 1px solid #677AA3;
}

.details-container {
  display: flex;
}