.Comic {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.Comic .image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*flex-grow: 1;*/
  /*width: 100%;*/
  /*background-color: salmon;*/
}

.details {
  flex-grow: 1;
  width: auto;
  padding: 0.5rem;
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #677AA3;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  color: #1C3443;
}

.stats {
  text-align: center;
  color: #fff;
  background-color: #677AA3;
  border: solid 1px #fff;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  display: flex;
}

.stats .one-third {
  border-right: 1px solid #fff;
  width: 33%;
  float: left;
  padding: 5px 5px;
}

.stats .stat {
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
}

.stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media (max-width: 720px) {
  .Comic {
    display: block;
  }

  .Comic .image {
    width: 60%;
  }
}